html {
    background-color: #242582;
}

h1 {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container-1 {
    height: 500px;
    margin: 100px;
    background-color: #2f2fa2;
    display: flex;
    justify-content: center;

}

.container-1 h1{
    font-family: 'Arial';
    color: white;
    font-size: 105px;
    
}

.container-2 {
    display: flex;
    margin: 100px;
    
}

.container-2 h3 {
    font-family: 'American Typewriter';
    font-weight:lighter;
    color: white;
    text-align: left;
    font-size: 48px;
}

.container-3 {
    margin: 40px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.container-4 {
    margin: 40px;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

.photo {
    height: 400px; 
}

.container-5 {
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    

}

.container-5 div {
    height: 100px;
    width: 100px;
    background-color: #2f2fa2;
}

.images {
    height: 50px;
    padding-top: 25%;
}

hr {
    margin-top: 200px;
    margin-bottom: 10px;
}

#opensea:hover {
    transition: transform 400ms;
    transform: translateY(-35%);
}

#instagram:hover {
    transition: transform 400ms;
    transform: translateY(-35%);
}

#twitter:hover {
    transition: transform 400ms;
    transform: translateY(-35%);
}

.photo:hover {
    opacity: 0.5;
}
