html {
    background-color: #242582;
}

h1 {
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media(min-width: 1350px) {
    .container-1 {
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        height: 500px;
        margin: 140px 100px 100px 100px;
        background-color: #2f2fa2;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    
    }
    
    .container-1 h1{
        font-family: 'Arial';
        color: white;
        font-size: 105px;
        
    }
    
    .container-2 {
        display: flex;
        margin: 100px;
        
    }
    
    .container-2 h3 {
        font-family: 'American Typewriter';
        font-weight:lighter;
        color: white;
        text-align: left;
        font-size: 48px;
    }
    
    .container-3 {
        margin: 40px;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    }
    
    .container-4 {
        margin: 40px;
        justify-content: space-evenly;
        display: flex;
        flex-wrap: wrap;
    }
    
    .photo {
        height: 400px;
        border: white solid 5px;
    }
    
    .container-5 {
        text-align: center;
        display: grid;
        grid-template-columns: 150px 150px 150px;
        justify-content: center;
    }
    
    .container-5 div {
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        height: 100px;
        width: 100px;
        background-color: #2f2fa2;
    }
    
    .images {
        height: 50px;
        padding-top: 25%;
    }
    
    hr {
        margin-top: 200px;
        margin-bottom: 10px;
    }
    
    #opensea:hover {
        opacity: 0.5;
    }
    
    #instagram:hover {
        opacity: 0.5;
    }
    
    #twitter:hover {
        opacity: 0.5;
    }
    
    .photo:hover {
        opacity: 0.5;
    }

    .figcaption {
        text-align: center;
        color: white;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media(max-width: 1349px) {
    .container-1 {
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        width: 100%;
        margin-top: 100px;
        margin-right: 100px;
        margin-left: 0px;
        margin-bottom: 3em;
        background-color: #2f2fa2;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    
    }
    
    .container-1 h1{
        font-family: 'Arial';
        color: white;
        font-size: 40px;
        
    }
    
    .container-2 {
        display: flex;
        margin-left: 0px;
        margin-bottom: 3em;
        
    }
    
    .container-2 h3 {
        padding-right: 12px;
        padding-left: 0px;
        font-family: 'American Typewriter';
        font-weight:lighter;
        color: white;
        font-size: 35px;
    }
    
    .container-3 {
        justify-content: center;
        margin-bottom: 3em;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 3em;
        display: grid;
        
    }
    
    .container-4 {
        justify-content: center;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 3em;
        display: grid;
    }
    
    .photo {
        height: 400px;
        border: white solid 5px;
    }
    
    .container-5 {
        text-align: center;
        display: grid;
        grid-template-columns: 110px 110px 110px;
        justify-content: center;
        
    }
    
    .container-5 div {
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        height: 100px;
        width: 100px;
        background-color: #2f2fa2;
    }
    
    .images {
        height: 50px;
        padding-top: 25%;
    }
    
    hr {
        display: grid;
        justify-content: center;
        margin-top: 200px;
        margin-left: 0px;
        margin-bottom: 10px;
    }

    #opensea:hover {
        opacity: 0.5;
    }
    
    #instagram:hover {
        opacity: 0.5;
    }
    
    #twitter:hover {
        opacity: 0.5;
    }
    
    .photo:hover {
        opacity: 0.5;
    }

    .figcaption {
        text-align: center;
        color: white;
        margin-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
    }
}